body {
  color: #000000;
  background-color: #D1E0E0;
}

p {
  line-height: 40px;
}

a {
  color: #666666;
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: 10px;
}

a:hover {
  color: #4C001A;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
}

nav {
  float: left;
  text-align: right;
  margin: 0 auto;
}

.container {
  float: left;
  padding-left: 60px;
  width: 50%;
  margin: 80px auto 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.home-link {
  margin-bottom: 30px;
}

.avatar img {
  width: 120px;
  display: inline-block;
  border-radius: 10px;
}
