<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chandra Carney | Accessibility Specialist</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700,400' rel='stylesheet' type='text/css'>
    <link href="../style.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <div class="wrapper">
      <nav>
        <ul>
          <li class="home-link"><a href="/">Chandra Carney</a></li>
          <li class="avatar">
            <img src="https://s.gravatar.com/avatar/263f8a11624f38f8551029e18dc4f8db?s=150" alt="Chandra Carney's Profile Image" />
          </li>
          <li><a href="mailto:chandrabcarney@gmail.com">email</a></li>
          <li><a href="https://github.com/chandracarney">github</a></li>
          <li><a href="https://www.linkedin.com/in/chandracarney/">linkedin</a></li>
          <li><a href="http://twitter.com/chandracarney">twitter</a></li>
        </ul>
      </nav>

      <div class="container">
        {{ content }}
      </div>
    </div>
  </body>
</html>
