<!DOCTYPE html>
<html>
  <head>
    <title>Chandra Carney | Developer</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700,400' rel='stylesheet' type='text/css'>
    <link href="../style.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <nav>
      <a class="avatar" title="Chandra Carney" href="/">
        <img src="https://s.gravatar.com/avatar/263f8a11624f38f8551029e18dc4f8db?s=150" alt="Chandra Carney" />
      </a>
      <a title="twitter" href="http://twitter.com/chandracarney">twitter</a>
      <a title="github" href="https://github.com/chandracarney">github</a>
      <a title="email" href="mailto:chandrabcarney@gmail.com">email</a>
    </nav>

    <div class='container'>
      {{ content }}
    </div>
  </body>
</html>
